@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* ================ hero ================== */

#header{
    width: 100%;
    height: 100vh;
    position: relative;  /* Allows for absolute positioning of child elements */
}

.container{
    padding: 10px 5%;
    position: relative;  /* Ensures text stays on top of the image */
}

.background-image {
    height: 100vh;        /* Full viewport height */
    width: auto;          /* Adjust width to keep the aspect ratio */
    object-fit: cover;    /* Ensures the image is not stretched */
    position: absolute;   /* Position the image absolutely */
    top: 30px;            /* Adjust this value to move the image down (80px is an example) */
    right: 0;             /* Align the image to the right */
    z-index: -1;          /* Send the image behind the content */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container nav h1{
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;

}

.container nav h1::first-letter{
    color: #ff004f;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

/* after hovering nav links then add underline hover img */
nav ul li a::after{
    content: '';
    width: 0;  /* hide red line */ 
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    position: relative;
    z-index: 1;  /* Keeps the text above the image */
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}


/* ================ Sevices ================== */

#services{
    padding: 30px 0;
}

#services .container{
    padding: 10px 10%;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:  0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.services-list div{
    text-align:left;
    font-size: 13px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);  /* move -10px in y axis */
}

