@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: white;
}

html{
    scroll-behavior: smooth;
}

h2 + p { /* Relational selector( index.html file service cards font styles) */
    margin-top: 0;
    text-align:start;
    font-size: 14px;
}

/* ================ hero ================== */

#header{
    width: 100%;
    height: 100vh;
    position: relative;  /* Allows for absolute positioning of child elements */
}

.container{
    padding: 10px 5%;
    position: relative;  /* Ensures text stays on top of the image */
}

.background-image {
    height: 100vh;        /* Full viewport height */
    width: auto;          /* Adjust width to keep the aspect ratio */
    object-fit: cover;    /* Ensures the image is not stretched */
    position: absolute;   /* Position the image absolutely */
    top: 30px;            /* Adjust this value to move the image down (80px is an example) */
    right: 0;             /* Align the image to the right */
    z-index: -1;          /* Send the image behind the content */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container nav h1{
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;

}

.container nav h1::first-letter{ /* Pseudo-elements */
    color: #475459;
}

nav > ul > li { /* Child combinator */
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

/* after hovering nav links then add underline hover img */
nav ul li a::after{  /* Pseudo elements with generated content */
    content: '';
    width: 0;  /* hide red line */ 
    height: 3px;
    background: #6C808C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{  /* User action pseudo class */  /* Pseudo elements with generated content */
    width: 100%;
}

nav ul li:not(:last-child) { /* Negation pseudo class(add gap between nav links) */
    margin-right: 30px; 
}

nav ul li:nth-child(5) { /* Nth pseudo class(bold the nav-link contact ) */
    font-weight: bold;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    position: relative;
    z-index: 1;  /* Keeps the text above the image */
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text #animate{  /* Animations */
    color:  #B8D0D9;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
}

#animate {animation-timing-function: ease-in-out;} /* Animations */

@keyframes mymove { /* Animations */
    from {left: 0px;}
    to {left: 393px;}
}

/* ================ Sevices ================== */

#services{
    padding: 30px 0;
}

#services .container{
    padding: 10px 10%;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition:  0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.services-list div{
    text-align:left;
    font-size: 13px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{ /* User action pseudo class */
    background: #B8D0D9;
    transform: translateY(-10px);  /* move -10px in y axis */
    color: black;
}



/* ================ Footer ================== */

#footer{
    padding-top: 20px;
    text-align: center;
}

.footer-icons{
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer-icons img{
    width: 30px;
    cursor: pointer;
}

.footer-icons img:hover{
    /* transform: scale(1.1);
    transform: translateY(-20%); */
}

a[target="_blank"]{ /* Attribute selectors */
    transition: 0.3s;
}

a[target="_blank"]:hover{ /* Attribute selectors */
    transform: scale(1.1);
    transform: translateY(-20%)
}

.copyright-text{
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}

/* ================ About ================== */

#about{
    padding: 40px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%; /* change size of img flex box (first col with 35%)*/
}

.about-col-1 img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%; /* second col with 60% */
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.sub-title:hover{ /* User action pseudo class */
    opacity: .5;  /* semi-transparent */
    cursor: default;
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/* after hover links add underline */ 
.tab-links::after{  /* Pseudo elements with generated content */
    content: '';
    width: 0;
    height: 3px;
    background: #475459;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{   /* Pseudo elements with generated content */
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #B8D0D9;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ================ My Works(blog) ================== */

#portfolio{
    padding: 20px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 500px;
    
}

.work:hover{ /* User action pseudo class */ 
    box-shadow: 5px 5px hsla(0, 0%, 100%, 0.403); /* CSS Shadow */
}

.work img{
    width: 400px;
    border-radius: 10px;
    display: block;
    height: 500px;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    /* height: 100%; layer section show */
    height: 0; /* layer section hidden */
    background: linear-gradient(rgba(0,0,0,0.6), #B8D0D9); /* Gradient */
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;     /* layer come from the work bottom */

}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{ /* User action pseudo class */
    transform: scale(1.1);
}

.work:hover .layer{ /* User action pseudo class */
    height: 100%;      /* display thelayer over the work section */
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #B8D0D9; /* border */
    padding: 14px 50px;
    border-radius: 6px; /* Rounded corners */
    text-decoration: none;
    color: #fff;
    transition:  0.5s; /*Transition*/
}

.btn:hover{
    transform: scale(1.1); /*Transform*/
    background: linear-gradient(to right, #6C808C, #B8D0D9); /*Gradient*/
}

/* ================ Contact ================== */

#contact{
    padding: 30px 50px;
    margin-top: 10px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #869AA6;
    margin-right: 15px;
    font-size: 25px;
}

.social-icon{
    margin-top: 30px;
}

.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}

.social-icon a:hover{ /* User action pseudo class */
    color: #B8D0D9;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: none; /* border */
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px; /* Rounded corners */
}

form input:valid { /* Validity pseudo class(form elements to style them based on their validation state) */
    border-color: green; /* border */
}

form input:invalid { /* Validity pseudo class */
    border-color: red; /* border */
}


form button[type="submit"]{ /* Attribute selectors */
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: #6C808C;
    display: inline-block;
}

.btn.btn2:hover{
    background: #B8D0D9;
    color: black;
    font-weight: 500;
}

/* Style the first input field */
.contact-right form input:first-child { /* Structural selectors */
    background: #262626;
    border-radius: 10px; /* Rounded corners */
}

.contact-right input:last-of-type { /* Structural selectors */
    background: #262626;
    border-radius: 10px; /* Rounded corners */
    
}

.contact-right textarea{
    background: #262626;
    border-radius: 10px; /* Rounded corners */
}

/* tablet if screen 768px or less */

@media (max-width: 768px) {

    nav ul li {
        margin: 10px 10px;
    }

    .header-text {
        font-size: 24px;
        margin-top: 40%;
    }

    .header-text h1 {
        font-size: 40px;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px; /* side nav hide */
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 30px;
    }

    .container {
        padding: 10px 5%;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        text-align: center;
    }

    .about-col-1 img {
        width: 80%;
        margin-bottom: 20px;
    }

    .tab-titles {
        flex-direction: column;
    }

    .tab-links {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .sub-title {
        font-size: 40px;
    }

    .services-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .work-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .work img {
        width: 100%;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    form input, form textarea {
        font-size: 16px;
    }

    .btn, .btn.btn2 {
        padding: 10px 40px;
        font-size: 16px;
    }
}
